<div class="home-container d-flex justify-content-center align-items-center vh-100 position-relative">
    <!-- Imagem de fundo -->
    <div class="background-image position-absolute top-0 start-0 w-100 h-100"></div>

    <!-- Card central -->
    <div class="card text-center p-4 bg-dark text-white opacity-85" style="max-width: 700px;">
        <h1 class="card-title display-3 mb-4 fw-bold">Bem-vindo ao Orí</h1>
        <p class="card-text lead mb-4 fs-5">
            Embarque em uma jornada mística pela rica tradição espiritual africana. Escolha entre poderosos orixás e
            heróis
            lendários, enfrente desafios épicos e descubra os segredos de um mundo repleto de magia, cultura e sabedoria
            ancestral.
        </p>
        <a href="/menu" class="btn btn-primary btn-lg fw-bold">
            Iniciar Jornada
        </a>
    </div>
</div>